<p>Hello edit</p>
<form action="/memos/<%= @memo[:id] %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <div>Favorite</div>
  <div><input type="text" value= "<%= @memo[:title] %>" name="title" id="title"></div>
  <div>Description</div>
  <div><textarea name="content" id="content"><%= @memo[:content] %></textarea></div>
  <div><input type="submit" value="変更"></div>
  <div><a href="/memos/<%= @memo[:id] %>">戻る</a></div>
<!--  <div><a href="/">戻る<%#= @memo[:id] %></a></div>-->
</form>
