<h1> My favorites</h1>
<% @memos.each do |memo| %>
  <ul>
    <li><a href="/memos/<%= memo[:id] %>"><%= memo[:title] %></a></li>
  </ul>
<% end %>
<a href="/memos/new"><input type="submit" value="追加"></a>
