
<h1>Introduce your favorite</h1>
<form action="/memos/:id" method="post">
 <div>Favorite</div>
  <div><input type="text" name="title" id="title"></div>
  <div>Description</div>
  <div><textarea name="content" id="content"></textarea></div>
  <div><input type="submit" value="保存"></div>
  <div><a href="/">一覧へ</a></div>
</form>
