<h1>Introduce your favorite</h1>
<form action="/memos/:id" method="post">
 <h2>Favorite</h2>
  <input type="text" name="title" id="title">
  <h2>Description</h2>
  <textarea name="content" id="content"></textarea>
  <div><input type="submit" value="保存"></div>
  <a href="/">一覧へ</a>
</form>
