<h2>Introduce your favorite</h2>
<form action="/memos/:id" method="post">
  <h3>Favorite</h3>
  <div class="form_input"><input type="text" name="title" id="title"></div>
  <h3>Description</h3>
  <div class="form_input"><input type="text" name="content" id="content"></div>
  <input type="submit" value="save">
</form>
<div class="btn"><a href="/">to All</a></div>
