<h3>Favorite</h3>
<p><%= h(@memo[:title]) %></p>
<h3>Description</h3>
<p><%= h(@memo[:content]) %></p>
<div><a href="/memos/<%= @memo[:id] %>/edit"><input type="submit" value="edit"></a></div>
<form action="/memos/<%= @memo[:id] %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
<div class="btn"><a href="/">to All</a></div>
