<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>しらべたword</title>-->
<!--</head>-->
<h1>My favorite</h1>
<!--<body>-->
<p><%= @memo[:title] %></p>
<p><%= @memo[:content] %></p>
<p><%= @memo[:id] %></p>
<div><a href="/"><input type="submit" value="一覧へ"></a></div>
<div><a href="/memos/<%= @memo[:id] %>/edit"><input type="submit" value="編集"></a></div>

  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">

<!--</body>-->
<!--</html>-->
