<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>しらべたword</title>
</head>
<h1>しらべたWord</h1>
<body>
<p><%= @memo[:title] %></p>
<p><%= @memo[:content] %></p>
<!--戻るボタン-->
<!--変更ボタン → /memos/:id/edit-->
<!--削除ボタン-->
</body>
</html>
