<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>しらべたword</title>
</head>
<h1>しらべたWord</h1>
<body>
<!--<p><%#= @file %></p>-->
<!--<p><%#= @parsed_memo %></p>-->
</body>
</html>
