<h3 class="headline">Favorite</h3>
<p><%= h(@memo[:title]) %></p>
<h3 class="headline">Description</h3>
<p><%= h(@memo[:content]) %></p>
<div><a href="/memos/<%= @memo[:id] %>/edit"><input type="submit" value="Edit"></a></div>
<form action="/memos/<%= @memo[:id] %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<div class="btn"><a href="/">to All</a></div>
