@charset "UTF-8";

body {
    background-color: #eeeeee;
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    color: #424242;
}

.header_title {
    border-bottom: #595757 1px dotted;
}

.container {
    width: 600px;
    margin: auto;
    padding-top: 0;
}

.content_title {
    font-size: 25px;
    color: #00897b;
    border-bottom: dashed 2px #4db6ac;
    padding-left: 8px;
}

.headline {
    width: 100px;
    color: #616161;
    border-bottom: dotted 1px;
    font-size: 16px;
}

.form_input input[type="text"] {
    width: 95%;
    height: 2em;
    background-color: #eeeeee;
    border: none;
    border-bottom: solid 1px #78909c;
    border-left: solid 3px #546e7a;
    padding-right: 20px;
    outline-style: none;
}

.form_input input[type="text" ]:hover {
    border-bottom: dotted 3px #f9a825;
}

#title, #content {;
    padding-left: 10px;
    padding-bottom: 5px;
}

.form-action input[type="submit"],
.btn {
    font-family: 'Courier New', monospace;
    color: #424242;
    font-weight: bold;
    font-size: 15px;
    background-color: #ddd;
    width: 90px;
    height: 34px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    border: solid 1px;
    border-color: #ddd;
    border-radius: 15px;
    margin-top: 8px;
    display: inline-block;
}

.btn {
    color: #424242;
}

.btn:hover {
    color: #00897b;
}

.form-action input[type="submit"],
#edit {
    color: darkgoldenrod;
}

a {
    text-decoration: none;
}

.item {
    margin-top: 15px;
    list-style: none;
}

.item a {
    color: #424242;
}

.item a:hover {
    color: darkgoldenrod;
}

.footer {
    font-size: 12px;
    border-top: dotted 1px #005555;
    height: 30px;
    width: 600px;
    margin: auto;
    text-align: right;
    margin-top: 30px;
}
